{% extends 'base.html' %}

    {% block title %}Welcome{% endblock %}

    {% block content %}
        <h1>Welcome To The Meeting Planner App!</h1>
        <p>This is just a simple application built with Django.</p>
        
        <h2>Meetings</h2>
        <ul>
            {% for meeting in meetings %}
                <li>
                    <a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'rooms' %}">ROOMS LIST</a>
    {% endblock %}